body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

.formulario {
    width: 400px;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.username,
.contraseña {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.recordar {
    text-align: right;
    font-size: 14px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.regitrarse {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.regitrarse a {
    color: #007bff;
    text-decoration: none;
}
