body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
    text-align: center; 
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type="number"],
select {
    width: 10%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
}

button {
    width: 10%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: center; /* Centrar la lista */
}

ul li {
    margin-bottom: 10px;
    font-size: 14px;
}
